
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="subheader" class="jarallax text-light">
    <img src="{% static 'images/background/2.jpg' %}" class="jarallax-img" alt="">
    <div class="center-y relative text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>{{ car.brand }} {{ car.model }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static '../media/' %}{{ car.image }}" class="img-fluid rounded" alt="{{ car.brand }} {{ car.model }}">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ car.brand }} {{ car.model }}</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Year:</strong> {{ car.year }}</li>
                        <li class="list-group-item"><strong>Color:</strong> {{ car.color }}</li>
                        <li class="list-group-item"><strong>Price:</strong> {{ car.price }} DH/day</li>
                        <li class="list-group-item"><strong>Fuel:</strong> {{ car.fuel }}</li>
                        <li class="list-group-item"><strong>Kilometer:</strong> {{ car.kilometer }} km</li>
                        <li class="list-group-item"><strong>Status:</strong> {{ car.status }}</li>
                    </ul>
                    <div class="mt-4">
                        <a href="{% url 'cars' %}" class="btn btn-secondary">Back to Cars</a>
                        <button class="btn btn-primary">Rent Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}